/* .ipl{
    background-color: rgb(104, 106, 250);
} */
/* .ipl:hover{
    background-color: rgb(18, 21, 206);
} */
/* .xyz:hover{
    width:'20rem'
} */
#home{
    background-image: url(https://cdn.wallpapersafari.com/12/52/geo6uG.jpg);
}
