#photos{
    margin-top: 5%;
    border-radius: 10%;
    /* max-height: 20%; */
}
img{
    /* margin-top: 5%; */
    max-height: 700px;
    object-fit: contain;
}
h3{
    background-color: antiquewhite;
    color:black;
    opacity: 0.75;
}